body {
  border: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  margin: 0;
  background-color: #f5f5f5;
  font: sans-serif;
}

#content {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.phone {
  width: 250px;
  height: 500px;
  background: hsl(289, 100%, 72%);
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.screen {
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  background: hsl(270, 20%, 96%);
  border-radius: 30px;
  overflow: hidden !important;
}

.top {
  display: flex;
  padding: 20px;
  align-items: center;
  background: lightblue;
  gap: 10px;
}

.avatar {
  border-radius: 50px;
}

.status {
  display: block;
  font-size: 10px;
}

.chat {
  font-size: 0.5rem;
}

.img-container {
  display: flex;
  justify-content: right;
  padding: 10px 5px 0 0;
  gap: 5px;
}

.dog-img {
  border-radius: 10px;
}

.chat-receive {
  text-align: left;
  max-width: 20ch;
  background: lightpink;
  padding: 8px;
  border-radius: 10px;
  margin: 10px auto 0 5px;
}

.chat-send {
  max-width: 20ch;
  margin: 10px 5px 0 auto;
  background: lightcoral;
  padding: 8px;
  border-radius: 10px;
}

.walk-price {
  position: relative;
}

.price-time {
  max-width: 25ch;
  background: lightpink;
  padding: 8px;
  border-radius: 10px;
  margin: 10px auto 0 5px;
}

.price {
  position: absolute;
  font: 0.8rem bolder;
  left: 90px;
  top: 6px;
  color: hsl(0, 0%, 100%);
}
