* {
  margin: 0;
  padding: 0;
}

body {
  background: white;
  font-family: "Rubik", sans-serif;
  height: 100vh;
}

.background1 {
  width: 60vh;
  height: 95vh;
  background: rgb(162, 0, 255);
  background: linear-gradient(
    152deg,
    rgba(162, 0, 255, 1) 51%,
    rgba(168, 3, 255, 1) 100%,
    rgba(250, 250, 250, 1) 100%
  );

  border-bottom-right-radius: 400px;
  border-bottom-left-radius: 400px;
  position: absolute;
}

.background2 {
  width: 45vh;
  height: 90vh;
  background: rgba(0, 0, 0, 0.05);
  border-top-right-radius: 50px;
  border-top-left-radius: 200px;
  position: absolute;
  right: 0;
  bottom: 0;
}

#content {
  max-width: 1440px;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  height: 100%;
}

.phone {
  width: 300px;
  height: 550px;
  background: hsl(0, 0%, 100%);
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.3);
  z-index: 9;
  place-self: center;
  margin: 1rem 0 1rem 0;
}

.screen {
  width: calc(100% - 15px);
  height: calc(100% - 10px);
  background: hsl(270, 20%, 96%);
  border-radius: 30px;
  overflow: hidden !important;
}

.top {
  display: flex;
  padding: 20px 10px;
  align-items: center;
  color: white;
  background: linear-gradient(
    rgba(191, 64, 255, 1) 0%,
    rgba(138, 75, 208, 1) 83%
  );
  border-radius: 10px;
  gap: 10px;
  font-weight: 500;
  font-size: 0.9rem;
  position: relative;
}

.top-white {
  width: 160px;
  height: 18px;
  background: hsl(0, 0%, 100%);
  position: absolute;
  border-radius: 8px;
  top: -5px;
  left: 64px;
}

.avatar {
  border-radius: 50px;
  border: 2px solid white;
}

.status {
  font-size: 0.8rem;
}

.top-top {
  display: flex;
  position: relative;
  flex-wrap: wrap;
}

.top-dots {
  position: absolute;
  top: 5px;
  right: 5px;
}

.chat {
  font-size: 0.6rem;
}

.img-container {
  display: flex;
  justify-content: right;
  padding: 10px 5px 0 0;
  gap: 5px;
}

.dog-img {
  border-radius: 10px;
}

.chat-receive {
  text-align: left;
  max-width: 20ch;
  background: rgba(0, 0, 0, 0.05);
  padding: 8px;
  border-radius: 10px;
  margin: 10px auto 0 5px;
  color: hsl(276, 55%, 52%);
}

.chat-send {
  max-width: 20ch;
  margin: 10px 5px 0 auto;
  background: white;
  padding: 8px;
  border-radius: 10px;
  color: hsl(270, 7%, 64%);
}

.walk-price {
  display: flex;
  gap: 10px;
  max-width: 25ch;
  background: linear-gradient(
    rgba(191, 64, 255, 1) 0%,
    rgba(138, 75, 208, 1) 83%
  );
  border-radius: 10px;
  margin: 10px auto 0 5px;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
}

.price {
  font-size: 0.8rem;
  font-weight: 600;
  left: 90px;
  top: 6px;
  color: hsl(0, 0%, 100%);
}

.price-time {
  color: white;
}

.send {
  display: flex;
  margin-top: 30px;
  position: relative;
}

.input {
  color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  padding: 8px 80px;
  font-size: 0.6rem;
  background: white;
  position: relative;
  margin: 0 auto;
}

.button-send {
  align-self: center;
  position: absolute;
  right: 30px;
}

.text-container {
  max-width: 45ch;
  align-self: center;
  padding-left: 50px;
  z-index: 9;
}

.text-h1 {
  font-size: 2.5rem;
  color: hsl(271, 36%, 24%);
  padding-bottom: 10px;
}

.text-p {
  font-size: 1.2rem;
  color: hsl(270, 7%, 64%);
}

@media (max-width: 850px) {
  #content {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 30px;
  }

  .background1 {
    width: 100%;
    height: 540px;
  }

  .phone {
    margin-left: 0px;
  }

  .text-container {
    text-align: center;
    z-index: 9;
    padding: 0 10px 20px 10px;
  }

  .background2 {
    display: none;
  }

  body {
    background: rgba(0, 0, 0, 0.05);
  }
}
