* {
  margin: 0;
  padding: 0;
}

body {
  border: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  margin: 0;
  background: white;
  max-width: 1440px;
  font-family: "Rubik", sans-serif;
}

.background1 {
  width: 350px;
  height: 95vh;
  background: rgb(162, 0, 255);
  background: linear-gradient(
    152deg,
    rgba(162, 0, 255, 1) 51%,
    rgba(168, 3, 255, 1) 100%,
    rgba(250, 250, 250, 1) 100%
  );

  border-bottom-right-radius: 400px;
  border-bottom-left-radius: 400px;
  position: absolute;
}

.background2 {
  width: 350px;
  height: 90vh;
  background: rgba(0, 0, 0, 0.05);
  border-top-right-radius: 50px;
  border-top-left-radius: 200px;
  position: absolute;
  right: 0;
  bottom: 0;
}

#content {
  padding: 1rem;
  display: flex;
  align-items: center;
  position: absolute;
  margin-top: 10px;
  margin-left: 320px;
}

.phone {
  width: 250px;
  height: 520px;
  background: hsl(0, 0%, 100%);
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.1);
}

.screen {
  width: calc(100% - 15px);
  height: calc(100% - 10px);
  background: hsl(270, 20%, 96%);
  border-radius: 30px;
  overflow: hidden !important;
}

.top {
  display: flex;
  padding: 20px;
  align-items: center;
  background: linear-gradient(
    rgba(191, 64, 255, 1) 0%,
    rgba(138, 75, 208, 1) 83%,
    rgba(255, 238, 255, 1) 83%,
    rgba(250, 250, 250, 1) 100%
  );
  border-radius: 10px;
  gap: 10px;
  font-weight: 500;
  font-size: 1rem;
}

.avatar {
  border-radius: 50px;
}

.status {
  display: block;
  font-size: 10px;
}

.chat {
  font-size: 0.6rem;
}

.img-container {
  display: flex;
  justify-content: right;
  padding: 10px 5px 0 0;
  gap: 5px;
}

.dog-img {
  border-radius: 10px;
}

.chat-receive {
  text-align: left;
  max-width: 20ch;
  background: rgba(0, 0, 0, 0.05);
  padding: 8px;
  border-radius: 10px;
  margin: 10px auto 0 5px;
  color: hsl(276, 55%, 52%);
}

.chat-send {
  max-width: 20ch;
  margin: 10px 5px 0 auto;
  background: white;
  padding: 8px;
  border-radius: 10px;
  color: hsl(270, 7%, 64%);
}

.walk-price {
  display: flex;
  gap: 10px;
  max-width: 25ch;
  background: linear-gradient(
    rgba(191, 64, 255, 1) 0%,
    rgba(138, 75, 208, 1) 83%
  );
  border-radius: 10px;
  margin: 10px auto 0 5px;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
}

.price {
  font-size: 0.8rem;
  font-weight: 600;
  left: 90px;
  top: 6px;
  color: hsl(0, 0%, 100%);
}

.send {
  display: flex;
  align-self: center;
  padding: 13px 0 0 20px;
  position: relative;
}

.input {
  color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  border: none;
  padding: 8px 40px;
  font-size: 10px;
}

.text-container {
  margin: 0 auto;
  max-width: 40ch;
  padding-left: 380px;
  padding-top: 15%;
  align-self: center;
}

.text-h1 {
  color: hsl(271, 36%, 24%);
  padding-bottom: 10px;
}

.text-p {
  font-size: 15px;
  color: hsl(270, 7%, 64%);
}

.button-send {
  position: absolute;
  bottom: 7px;
  right: 20px;
}
